.videos{
    position: relative;
    background: $pink;
    color: $white;
    padding: 80px 10%;
    @media screen and (min-width: $medium) {
        padding: 130px 10%;
    }

    .crosshead{
        color: $white;
    }
}

.video-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media screen and (min-width: $medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }   
}

.video{
    position: relative;
    width: 100%;
    background: $white;
    color: $text;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px transparentize(darken($pink, 20), 0.1);
    transition: 0.3s ease-out;
    &:hover,
    &:focus-within{
        transform: translateY(-5px) scale(1.02);
    }
    &:focus-within{
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0px 0px 0px 3px $focus;
        }
    }
    &:last-of-type{
        margin-bottom: 0px;
    }
    &__image{
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0px 0px;
    }

    iframe{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        border: none;
    }

    &__name{
        font-size: 1.4rem;
        line-height: 1.3;
        padding: 25px;
        padding-bottom: 0px;
        @media screen and (min-width: $medium) {
            font-size: 1.6rem;
            padding: 35px;
            padding-bottom: 0px;
        }
    }
    &__link{
        text-decoration: none;
        color: $text;
        &:focus{
            outline: none;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__description{
        padding: 25px;
        padding-top: 10px;
        font-size: 1.1rem;
        @media screen and (min-width: $medium) {
            padding: 35px;
            padding-top: 10px;
        }
    }
    @media screen and (min-width: $medium) {
        margin-bottom: 0px;
    }
}