.prose{
    position: relative;
    padding: 80px 10%;
    text-align: center;
    color: $text;

    h2, p{
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    p{
        font-size: 1.2rem;
        margin-bottom: 25px;
        strong{
            color: $pink;
        }
        @media screen and (min-width: $medium) {
            font-size: 1.4rem;
        }
        &:last-of-type{
            margin-bottom: 0px;
        }
    }
}

.tick-list{
    list-style: none;
    text-align: left;
    margin-top: 85px;

    @media screen and (min-width: $medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 65px;
    }

    li{
        position: relative;
        margin-bottom: 25px;
        padding-left: 75px;
        font-size: 1.2rem;
        strong{
            color: $pink;
        }
        @media screen and (min-width: $medium) {
            font-size: 1.4rem;
        }

        &:before{
            content: "";
            background-image: url("../img/tick.svg");
            background-position: center;
            background-size: contain;
            width: 45px;
            height: 45px;
            display: inline-block;
            position: absolute;
            left: 0px;
            top: 0px;
        }
    }
}