.resources{
    position: relative;
    padding: 80px 10%;
    text-align: center;
    color: $text;
    background: $background;

    // h2, p{
    //     // max-width: 650px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }

    // p{
    //     font-size: 1.2rem;
    //     margin-bottom: 25px;
    //     strong{
    //         color: $pink;
    //     }
    //     @media screen and (min-width: $medium) {
    //         font-size: 1.4rem;
    //     }
    //     &:last-of-type{
    //         margin-bottom: 0px;
    //     }
    // }
}

.resources-list{
    list-style-type: none;
    text-align: left;
    @media screen and (min-width: $medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }   


    li{
        font-size: 1.2rem;
        background: $white;
        margin-bottom: 15px;
        padding: 25px;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 5px 20px transparentize($text, 0.99);
        &:last-of-type{
            margin-bottom: 0px;
        }
        transition: 0.3s ease-out;
        &:hover,
        &:focus-within{
            transform: translateY(-5px) scale(1.02);
        }
        &:focus-within{
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0px 0px 0px 3px $focus;
            }
        }
        @media screen and (min-width: $medium) {
            margin-bottom: 0px;
        }   
        a{
            display: block;
            color: $pink;
            text-decoration: none;
            margin-bottom: 5px;
            &:before{
                position: absolute;
            }
            &:focus{
                outline: none;
            }
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}