.services{
    position: relative;
    background: $background;
    padding: 80px 10% 100px 10%;
}

.tabs{
    margin-bottom: 30px;
    border-radius: 6px;

    &__navigation{
        display: flex;
    }

    &__button{
        flex: 1;
        font-size: 0.9rem;
        color: $pink;
        font-weight: bold;
        padding: 25px 10px;
        background: $background;
        border: none;
        cursor: pointer;
        border-radius: 10px 10px 0px 0px;
        &:hover{
            color: darken($pink, 10);
        }
        &:focus{
            z-index: 1;
        }
        &--active{
            background: $white;
            pointer-events: none;
        }
        @media screen and (min-width: $medium) {
            font-size: 1.3rem;
        }
    }

    &__panel{
        background: $white;
        padding: 25px;
        border-radius: 0px 0px 10px 10px;
        @media screen and (min-width: $medium) {
            padding: 65px 85px;
        }
    }
}

.service{
    position: relative;
    padding-left: 50px;
    color: $text;
    margin-bottom: 25px;
    &:last-of-type{
        margin-bottom: 0px;
    }
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        height: 25px;
        width: 25px;
        background-image: url("../img/tick.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    @media screen and (min-width: $medium) {
        padding-left: 60px;
        &:before{
            height: 30px;
            width: 30px;
        }
    }

    h3{
        margin-bottom: 5px;
        font-size: 1.3rem;
        @media screen and (min-width: $medium) {
            font-size: 1.5rem;
        }
    }
    p{
        font-size: 1.1rem;
        @media screen and (min-width: $medium) {
            font-size: 1.2rem;
        }
    }
}